* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// DEFINING CONSTANTS
@mixin grids($row: 1fr, $col: 1fr, $gap: 0px) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $gap;
}

@mixin flex($justify:center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin setDimension($h:100%, $w: 100%) {
    height: $h;
    width: $w;
}

// DEFINING VARIABLES
$bg-color-main2: rgb(33, 32, 32);
$bg-color-main1: rgb(249, 253, 50);


body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    @include flex();
}

.app {
    @include setDimension();
    max-width: 1280px;
    max-height: 800px;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px lightgray, 8px 8px 24px gray;
    overflow: hidden;
    @include grids($col: 1fr 1fr);
}

.background {
    @include setDimension();
    background-color: $bg-color-main1;
    @include grids($row: 1fr 1fr);

}

.data {
    @include setDimension();
    background-color: $bg-color-main2;
    color: white;
    padding: 10px;
    @include grids($row: 50px 3fr 4fr);
    gap: 10px;


    form {
        @include setDimension();
        @include grids($col: 1fr 80px);
        gap: 5px;

        input, button {
            padding: 0 10px;
            padding-left: 5px;
            outline: none;
            border: none;
            font-size: 1.1rem;
        }
        $radius: 2rem;
        input {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
            padding-left: 20px;
            
        }

        button {
            border-top-right-radius:$radius;
            border-bottom-right-radius: $radius;
        }
    }

}

.l1Head {
    font-style: italic;
    color: lightgoldenrodyellow;
    position: relative;
    transition: 0.3s all;
}

.l1Head:hover {
    color: gold;
    transform: translateX(20px);
}

.l1Head::after {
    content: "";
    display: inline-block;
    @include setDimension($h:32px, $w:150px);
    background-color: black;
    box-shadow: 5px 2px yellow;
    transform: skewX(-25deg);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 20px;

}